<h1 class="my-3 d-none d-lg-block">Start</h1>
<div class="card my-3 mx-n3 mx-md-0">
    <h4 class="card-header">Installation and usage</h4>
    <div class="card-body">
        <p>See example usage and configuration below, please note that this is a wrapped version of <a href="https://ng-bootstrap.github.io/" target="_blank">ng-bootstrap</a>, for more examples and a full list of feature please head to <a href="https://ng-bootstrap.github.io/" target="_blank">https://ng-bootstrap.github.io/</a>.</p>
        <strong>Steps to get started:</strong>
        <ol class="list-group list-group-ordered mb-3">
            <li class="list-group-item">Install as dependency</li>
            <li class="list-group-item">Import ng-bootstrap</li>
            <li class="list-group-item">Import all styles from @sebgroup/ng-bootstrap or just the parts you need</li>
        </ol>
        <strong>Install with:</strong>
        <p><code>npm install @sebgroup/ng-bootstrap --save</code></p>
        <strong>Usage and configuration:</strong>
        <p>These component are meant to be used together with <a href="">@sebgroup/bootstrap</a> and in order for them to get the correct appearance you need to import the following scss (don't add the scss provided by ng-bootstrap).</p>
        <exemplify [sources]="[{
        'name':'app.module.ts',
        'src':'...\nimport {NgbModule} from &quot;@ng-bootstrap/ng-bootstrap&quot;;'+
        '\n\n@NgModule({\n'+
        '  declarations: [AppComponent],\n'+
        '  imports: [\n'+
        '    ...\n'+
        '    NgbModule // <-- Add this line\n'+
        '  ]\n'+
        '})','lang':'js'
        },{
        'name':'styles.scss',
        'src':'@import \'~@sebgroup/bootstrap/scss/styles/core\';\n'+
'@import \'~@sebgroup/bootstrap/scss/styles/reboot\';\n'+
'@import \'~@sebgroup/ng-bootstrap/scss/ng-bootstrap\'; /* <-- Add this line */\n'+
'@import \'~@sebgroup/fonts/scss/seb-fonts\';','lang':'css'
        }]"></exemplify>
    </div>
</div>
