<a name="tooltips"><h1 class="my-3 d-none d-lg-block">Tooltips</h1></a>
<div class="card my-3 mx-n3 mx-md-0">
    <h4 class="card-header">Installation and usage</h4>
    <div class="card-body">
        <p>See <a routerLink="'/getting-started'">getting started</a> for a complete setup.</p>
        <strong>Steps to get started:</strong>
        <ol class="list-group list-group-ordered mb-3">
            <li class="list-group-item">Install using npm (see <a routerLink="'/getting-started'">getting started</a>)</li>
            <li class="list-group-item">Import <code>NgbTooltipModule</code> (if you're not including <code>NgbModule</code>)</li>
            <li class="list-group-item">Import ngb-tooltip.scss and @sebgroup/boostrap tooltip styles (if you're not including all of bootstrap)</li>
        </ol>
        <strong>Import tooltip module:</strong>
        <exemplify [sources]="[{
        'name':'app.module.ts',
        'src':'...\nimport {NgbTooltipModule} from &quot;@ng-bootstrap/ng-bootstrap&quot;;'+
        '\n\n@NgModule({\n'+
        '  declarations: [AppComponent],\n'+
        '  imports: [\n'+
        '    ...\n'+
        '    NgbTooltipModule // <-- Add this line\n'+
        '  ]\n'+
        '})','lang':'js'
        }]"></exemplify>
        <strong class="mt-3 d-block">Import tooltip styles:</strong>
        <p>This component is meant to be used together with <a href="https://github.com/sebgroup/bootstrap" target="_blank">@sebgroup/bootstrap</a> and in order for the component to get the correct appearance you need to import styles from @sebgroup/bootstrap files to your project.</p>
        <exemplify [sources]="[{
        'name':'styles.scss',
        'src':'@import \'~@sebgroup/bootstrap/scss/core\';\n'+
'@import \'~@sebgroup/bootstrap/scss/styles/reboot\';\n'+
'@import \'~@sebgroup/bootstrap/scss/styles/tooltip\'; /* <-- Add this line */\n'+
'@import \'~@sebgroup/ng-bootstrap/scss/styles/ngb-tooltip\'; /* <-- Add this line */\n'+
'@import \'~@sebgroup/fonts/scss/seb-fonts\';','lang':'css'
        }]"></exemplify>
    </div>
</div>
<h2 class="mt-4">Examples</h2>
<div class="card my-3 mx-n3 mx-md-0" id="tooltipInlineExample">
    <h4 class="card-header">Tooltip within text</h4>
    <div class="card-body">
        <p>
            Lorem ipsum dolor sit amet, <abbr placement="top" ngbTooltip="Consectētur, third-person singular present active subjunctive of consector." container="body">consectetur</abbr> adipiscing elit. Mauris in justo id eros mattis aliquet non vel orci. Cras a pulvinar enim, congue pretium velit. Donec ut bibendum felis, vel ultricies metus. Suspendisse <span class="text-help" placement="top" ngbTooltip="This time we've used the class 'text-help' to dash underline condimentum." container="body">condimentum</span> magna vitae orci facilisis, nec lacinia elit semper.
        </p>
        <!--<exemplify [selector]="'#tooltipInlineExample > .card-body > p'" [escapeStrings]="[' ngbTooltip',' ngClass', '[ngClass]']"></exemplify>-->
    </div>
</div>
<div class="card my-3 mx-n3 mx-md-0" id="tooltipTableExample">
    <h4 class="card-header">Tooltip inside table</h4>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th><span class="text-help" ngbTooltip="This column shows first names." container="body">First Name</span></th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td><span class="text-help" ngbTooltip="The name is Mark." container="body">Mark</span></td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td><span class="text-help" ngbTooltip="The name is Jacob." container="body">Jacob</span></td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td><span class="text-help" ngbTooltip="The name is Larry." container="body">Larry</span></td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
        <!--<exemplify [selector]="'#tooltipTableExample .card-body .table'" [escapeStrings]="[' ngbTooltip',' ngClass', '[ngClass]']"></exemplify>-->
    </div>
</div>
